---
layout: default
title: About
permalink: /about/
---
<div class="col-sm-4 my-5 offset-sm-1 align-self-center">
  <div class="text-center">
    <h4>Hello, I'm</h4>
    <h1>{{site.github.owner_name}},</h1>
    <h2>Developer</h2>
    <br />
    <br />
    <div class="row justify-content-center">
      {% capture url%}{{ "mailto:"| append: site.github.owner.email }}{% endcapture %}
      {%include about_icon.html url=url img="envelope-square.svg"%}

      {% capture url%}{{site.github.owner_url}}{% endcapture %}
      {%include about_icon.html  url=url img="github-square.svg" %}

      {% capture url%}{{ site.baseurl | append: "/feed.xml"}}{% endcapture %}
      {%include about_icon.html url=url img="rss-square.svg" %}
    </div>
  </div>
</div>
<div class="col-sm-4 offset-sm-2">
  <div class="mt-5">
    <img class="rounded-circle img-thumbnail" src="{{site.github.owner_gravatar_url}}" alt="Profile picture">
  </div>
</div>