<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{site.baseurl}}/">sak96-blog</a>
    <button class="navbar-toggler ml-auto" type="button">
        <span class="navbar-toggler-icon" id="nav-toggler"></span>
    </button>
    <div class="navbar-collapse">
        <ul class="navbar-nav navbar-collapse collapse">
            {%include nav_item.html url="/" name="Home"%}
            {%include nav_item.html url="/categories/" name="Categories"%}
            {%include nav_item.html url="/about/" name="About"%}
            {%include nav_item.html url="/thanks/" name="Thanks"%}
        </ul>
        <ul class="navbar-nav navbar-collapse collapse justify-content-end">
            {%include theme.html %}

            {% capture url%}{{ "mailto:"| append: site.email }}{% endcapture %}
            {%include nav_icon.html url=url img="envelope-square.svg"%}

            {% capture url%}{{ "https://github.com/"| append: site.username}}{% endcapture %}
            {%include nav_icon.html  url=url img="github-square.svg" %}

            {% capture url%}{{ site.baseurl | append: "/feed.xml"}}{% endcapture %}
            {%include nav_icon.html url=url img="rss-square.svg" %}
        </ul>
    </div>
</nav>
<script>
    document.getElementById("nav-toggler").onclick = function (e) {
        Array.from(document.getElementsByClassName("navbar-nav")).forEach(
            function (e) {
                e.classList.toggle("collapse")
            }
        )
    } 
</script>