<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{site.baseurl}}/">{{site.title}}</a>
    <button class="navbar-toggler ml-auto" type="button">
        <span class="navbar-toggler-icon" id="nav-toggler"></span>
    </button>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav">
            {%include nav_item.html url="/" name="Home"%}
            {%include nav_item.html url="/categories/" name="Categories"%}
        </ul>
        <ul class="navbar-nav ml-auto">
            {%include nav_item.html url="#" name="Theme"%}
            {%include nav_item.html url="/feed.xml" name="Feeds"%}
            {%include nav_item.html url="/about/" name="About"%}
            {%include nav_item.html url="/thanks/" name="Thanks"%}
        </ul>
    </div>
</nav>
<script>
    document.getElementById("nav-toggler").onclick = function (e) {
        Array.from(document.getElementsByClassName("navbar-collapse")).forEach(
            function (e) {
                e.classList.toggle("collapse")
            }
        )
    } 
</script>