<script>
    // object of themes, indentation is mess as liquid and js issue with auto formatter
    var themes = {
        {% for file in site.static_files %}
    {% if file.extname == ".css" %}
    "{{ file.basename }}": "{{site.baseurl}}{{file.path}}",
        {% endif %}
    {% endfor %}
    }

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(";");
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == " ") {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path={{site.baseurl}}/";
    }

    function loadTheme() {
        // if theme cookie present use it to load theme
        var theme = getCookie("theme");
        var link = document.createElement("link");
        if (!theme) theme = "{{site.baseurl}}/css/bootstrap.css"
        link.href = theme;
        link.rel = "stylesheet";
        document.head.appendChild(link);

        // mark current theme as active
        var themeItems = document.getElementsByClassName("theme-item");
        Array.from(themeItems).forEach(element => {
            element.classList.remove("active")
            if (element.getAttribute("theme") == theme) {
                element.classList.add("active")
            }
        })

        // deselect dropdown
        var themeMenu = document.getElementById("theme-menu");
        themeMenu.classList.remove("show")
    }

    window.onload = function () {
        // add drop down caret
        var navBar = document.getElementsByTagName("nav")[0];
        var navLinkArray = Array.from(navBar.getElementsByTagName("a"));
        var themeBtn = navLinkArray.find((a) => { return a.innerText == "Theme" })
        themeBtn.classList.add("dropdown-toggle")
        themeBtn.parentNode.classList.add("dropdown")

        // create dropdown  
        var themeMenu = document.createElement("ul")
        themeMenu.classList.add("dropdown-menu")
        themeMenu.id = "theme-menu"
        {
            // add themes to dropdown list
            for (var [name, path] of Object.entries(themes)) {
                var li = document.createElement("li")
                li.onclick = (event) => {
                    setCookie("theme", path, 365);
                    loadTheme();
                    event.stopPropagation();
                    event.cancelBubble = true;
                }
                li.classList.add("dropdown-item", "theme-item")
                li.innerText = name
                themeMenu.appendChild(li)
            }
        }
        themeBtn.parentNode.insertBefore(themeMenu, themeBtn.nextSibling);

        // add drop down event
        themeBtn.onclick = function (event) {
            var themeMenu = document.getElementById("theme-menu");
            themeMenu.classList.toggle("show")
            event.stopPropagation();
            event.cancelBubble = true;
        };

        // set cookie based on selection
        var themeItems = document.getElementsByClassName("theme-item");
        Array.from(themeItems).forEach(element => {
            element.onclick = (event) => {
                setCookie("theme", element.getAttribute("theme"), 365);
                loadTheme();
                event.stopPropagation();
                event.cancelBubble = true;
            };
        });
    };

    // collapse theme menu when clicking outside dialog box  
    document.addEventListener("click", function (event) {
        if (!event.target.matches('#theme-menu')) {
            var themeMenu = document.getElementById("theme-menu");
            if (themeMenu.classList.contains("show")) {
                themeMenu.classList.remove("show");
            }
        }
    })

    {
        // load the theme
        var temp = getCookie("theme");
        if (!temp) temp = "{{site.baseurl}}/css/bootstrap.css"
        document.write("<link href=\"" + temp + ".css\"rel='stylesheet'>")
    }
</script>