<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }}{% endif %}</title>
  <link rel="shortcut icon" href="{{site.baseurl}}/images/sticky-note.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8">
  <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="{{site.baseurl}}/feed.xml" />
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/highlighter/highlights.css" rel="stylesheet">
  {%include theme.html %}
</head>
</header>

<body>
  {% include nav.html %}
  <div class="row mx-auto pt-5">
    {{ content }}
  </div>
</body>

</html>